@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}


@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}


 *{margin: 0;padding: 0;box-sizing: border-box;}
 ul,ol{list-style: none;}
 a {text-decoration: none;color: #333;}
 
 body {font-family: 'Pretendard';}
 .container {width: 1120px;height: 100%;margin:0 auto;}
 ul.title {display: flex;justify-content: space-between;align-items: center;}

ul.title li h2 {margin-top: 30px; margin-bottom: 20px;}
/* ul.title li h3 {width: 4%;} */


 header {width: 100%;height:115px ;}
 .header_top {width: 100%;height: 50%;display: flex;justify-content: space-between;align-items: center;}
 .logo {width: 70px;height: 35px;}
  .h_right {width: 420px;height: 35px;justify-content: space-between;display: flex;}
  .search {width: 290px;height: 100%;background-color: #eee;border-radius: 10px;display: flex; justify-content: space-around; align-items: center;}
  .search input {width: 80%; border: none; outline: none; background-color: #eee;color: blue; }
  .mypage {width: 130px;height: 100%;}
  .header_b {width: 100%;height: 50%; display: flex; justify-content: space-between; align-items: center;}
   .header_b nav {width: 310px;height: 25px;}
   .category{width: 230px;height: 25px;}
   .header_b nav ul {display: flex;}
   .header_b nav ul li {margin: 0 12px;margin-top:5px ;}
   .mypage nav ul {display: flex;}
   .mypage nav ul li {margin: 0 5px;margin-top: 7px;}
   .category ul {display: flex;}
   .category ul li{margin-top: 5px; padding: 0 6px;}





 footer {width: 100%;height: 350px; padding-top: 45px;}
 footer .container {display: flex;}
 .footer_left {width:75% ;height: 100%;display: flex;}
.footer_l {width:42% ;height: 100%;display: flex;flex-wrap: wrap;}
.l {width: 50%;height: 70%;display: flex;flex-direction: column;}
.l a{margin-bottom: 20px;}
.l svg {vertical-align: middle;}
.l span {margin-left: 10px;}
   .r {width: 50%;height: 70%;}
   .servise {margin-left: 15px;margin-bottom: 10px;}
   .r ul {margin-left: 15px;}
   .r ul  li {font-size: 13px;padding:6px 0 ;}
   .footer_b{width: 100%;height: 30%;}
   .b1 {width: 100%;height: 22%;}
   .b1  span{font-size: 12px;}
   .b1 i {font-size: 9px;vertical-align: middle;}
    .b1:hover i{color: #1E9EFF;}
   .b2 {width: 100%;height: 22%;}
   .b2 ul{display: flex;}
   .b2 ul li {font-size: 11px;margin-right: 13px;}
   .b3 {width: 100%;height: 21%;}
    .b3  {font-size: 11px;}

   .footer_r {width:58% ;height: 100%;display: flex;}
   .left {width:42% ;height: 100%;}
   .query {margin-left: 20px;margin-bottom: 10px;}
   .left ul {margin-left: 20px;}
   .left ul  li {font-size: 13px;padding:6px 0 ;}
   .right {width:58% ;height: 100%;}
   .company {margin-left:5px;margin-bottom: 10px;}
   .right ul {margin-left: 5px;}
   .right ul  li {font-size: 13px;padding:6px 0 ;}
    .right ul li svg {vertical-align: middle;margin-left: 4px;color: #1E9EFF;}

  .footer_right {width:25% ;height: 100%;}
  .footer_right ul{display: flex;justify-content: space-around;}
  .footer_right ul li{ width: 44px;height: 44px; border:1px solid gray;border-radius: 50%;display: flex;justify-content: center;align-items: center;}
  
   



